.back-button {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #949494;
  color: #fff;
  text-decoration: none;
  border: 1px solid #666869;
  border-radius: 5px;
  max-width: 40px;
}

.back-button:hover {
  background-color: #555555;
  border-color: #474747;
  cursor: pointer;
}
