* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin-inline: 5rem;
}

header {
  position: relative;
  height: 15rem;
  background-image: url(../imgs/fondo.jpg);
  background-size: cover;
  background-position: right;
}

h1 {
  text-align: left;
  line-height: 10rem;
  margin-inline: 10rem;
  font-size: 60px;
  margin-bottom: 0;
  color: rgb(238, 255, 0);
}

.subtitulo {
  margin-left: 10rem;
  font-weight: bold;
  position: relative;
  top: -3rem;
}

.table {
  margin-inline: 10rem;
}

.imagen {
  width: 20rem;
  height: 20rem;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 10rem;
  margin: 2rem 5rem 5rem 15rem;
}

h2 {
  text-align: center;
  margin-bottom: 2.188rem;
}

h3 {
  text-align: center;
  padding: 0.938;
}

p {
  text-align: justify;
  font-weight: bold;
}

ul {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

footer {
  background-color: rgba(52, 94, 110, 0.452);
  height: 3rem;
}

.back-button {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #949494;
  color: #fff;
  text-decoration: none;
  border: 1px solid #666869;
  border-radius: 5px;
  max-width: 50px;
}

.back-button:hover {
  background-color: #555555;
  border-color: #474747;
  cursor: pointer;
}
